<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet"></head>
<body>
<div class="container">
    <div th:replace="fragments/control :: view_picture(${item.picture})"></div>
    <div th:replace="fragments/control :: view_data('ID:', ${item.id})"></div>
    <div th:replace="fragments/control :: view_data('Name:', ${item.name})"></div>
    <div th:replace="fragments/control :: view_data('Number of category:', ${item.category})"></div>
    <div th:replace="fragments/control :: view_data('Weight:', ${item.weight})"></div>
    <div th:replace="fragments/control :: view_data('Price: ', ${item.price})"></div>
</div>
</body>
</html>