<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet"></head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method="post" th:object="${itemcategory}">
                    <div class="row">
                        <div class="col-12">
                            <div th:replace="fragments/control :: input_text('Enter name', 'name', '')"></div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <button class="btn btn-secondary" type="reset">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>